


@media (max-width: 400px) {
 /*span#exampleInputpatientname1 { font-size: 80%; }
    span#exampleInputvisittype1 { font-size: 69%; }
    span#exampleInputscheduledtime1 { font-size: 80%; }
	*/
	
	#canvas { width: 250px !important; }
	button#clear { margin-left: 195px !important; }
	
	
}


